.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.label {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.004em;

  color: #212121;
}
.input-wrap {
  width: 100%;
  position: relative;
}
.button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: 0;
  background: transparent;
}
.input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #d50000;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.004em;
  color: #212121;
}
.text {
  margin: 0;
  padding: 5px;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.004em;

  color: #2e7d32;
  text-align: center;
  transition: 1s ease-in-out;
  &--empty {
    background: rgba(224, 224, 224, 0.9);
    border: 1px solid #757575;
  }
  &--weak {
    background: rgba(211, 47, 47, 0.4);
    border: 1px solid #d32f2f;
  }
  &--easy {
    background: rgba(255, 202, 40, 0.4);
    border: 1px solid #ff8f00;
  }
  &--medium {
    background: rgba(100, 221, 23, 0.4);
    border: 1px solid #4caf50;
  }
  &--strong {
    background: rgba(0, 200, 83, 0.4);
    border: 1px solid #00c853;
  }
}
.complexity-level {
  width: 100%;
  display: flex;
  gap: 5px;
}
